@use "/src/styles/mixins" as *;

@mixin btnActions($bg, $opc){
    background-color: $bg !important;
}

.signInButton{
    @include button(6.9rem, var(--purple), 11px 44px, 0px);
    transition: all 0.4s;
    border: solid var(--white) 2px;
    padding: 44px, 11px;
    box-sizing: border-box;
    font-weight: bold;

    .textEntrar{
        @include textButton(var(--white), 'Inter', 1.3rem);
    }

    &:hover{
        @include btnActions(var(--white-25p), 100%)
    }

    &:focus{
        @include btnActions(var(--white), 100%);

        .textEntrar{
            color: var(--purple);
        }

    }
    
    &:focus{
        background-color: transparent;
    }
}
