.InputContainer {
    position: relative;
    width: 100%;

    .input {
        color: var(--white);
        margin-bottom: 0.5rem;
        width: 100%;
        font-size: 1rem;
        padding: 20px 10px 10px 5px;
        display: block;
        outline: none;
        border: none;
        border-bottom: 1px solid var(--white);
        background: transparent;
        transition: top, font-size, color, border-bottom-color 0.2s;
    }

    .label {
        font-family: 'Sen', sans-serif;
        font-size: 1.5rem;
        color: var(--white);
        opacity: 50%;
        position: absolute;
        left: 5px;
        top: 10px;
        transition: all 0.2s;
    }

    .input:focus~.label {
        top: -20px;
        font-size: 14px;
        color: #7700ff;
        opacity: 100%;
    }
    
    .input:focus {
        border-bottom-color: #7700ff;        
    }

    .input:not(:placeholder-shown):not(:focus)~.label {
        top: -5px;
        font-size: 14px;
        color: white;
        opacity: 50%;
    }

    .p{
        color: red;
        font-weight: bold;
        display: none;
    }

    .input:not(:placeholder-shown):not(:focus):invalid~.p{
        display: inline;
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
        filter: invert(1);
    }

}