.InputContainer {
    position: relative;
    width: 100%;

    .input {
        color: var(--white);
        width: 100%;
        font-size: 1rem;
        padding: 20px 10px 10px 5px;
        display: block;
        outline: none;
        border: none;
        border-bottom: 1px solid var(--white);
        background: transparent;
        transition: top, font-size, color, border-bottom-color 0.2s;
    }

    .label {
        font-family: 'Sen', sans-serif;
        font-size: 1.5rem;
        color: var(--white);
        opacity: 50%;
        position: absolute;
        left: 5px;
        top: 10px;
        transition: all 0.2s;
    }

    .input:focus~.label {
        top: -20px;
        font-size: 14px;
        color: #7700ff;
        opacity: 100%;

        // .label{
        //     top: -20px;
        //     font-size: 14px;
        //     color: #7700ff;
        // }
    }
    
    .input:focus {
        border-bottom-color: #7700ff;
        // box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.5);
        
    }
    
    .input:valid~.label {
        display: none;
    }

    .input[type="email"]:valid~.label {
        display: none;
    }

    .input:valid:not(:focus)~.label {
        top: -5px;
        font-size: 14px;
        color: white;
        opacity: 50%;
    }
}