.inputRadio{
    appearance: none;
    //border: 0.3rem solid white;
    outline: 0.125rem solid white;
    outline-offset: 2px;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 999rem;
    margin: 0 0.5rem;
    align-self: center;
    opacity: 100%;

    &:checked{
        background: var(--pink);
    }

    &:disabled{
        outline: 0.125rem solid #ADADAD;
        opacity: 40%;
    }
}

.label{
    color: var(--white);
    opacity: 100%;
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

.desabilitado{
    color:#ADADAD;
    opacity: 40%;
    font-family: "Inter", sans-serif;
    font-weight: bold;
}