@mixin title($color) {
    color: $color;
    font-family: "Baumans", sans-serif;
    font-weight: 400;
    font-size: 3rem;
    text-shadow: 0.45px 0.45px 0 $color, -0.45px 0.45px 0 $color,
        0.45px -0.45px 0 $color, -0.45px -0.45px 0 $color;
}

@mixin links($color, $weight, $decoration) {
    color: $color;
    font-weight: $weight;
    font-family: "Sen", sans-serif;
    font-size: 1.3rem;
    text-decoration: $decoration;
}

@mixin dualFont($color) {
    font-family: "Sansation", sans-serif;
    font-size: 4rem;
    font-weight: 400;
    color: $color;

    strong {
        font-family: "Inter", sans-serif;
        font-weight: 600;
        font-size: 4.22rem;

        span {
            font-family: "Inter";
            font-weight: 400;
        }
    }
}

@mixin divider($width, $grow){
    background-color: var(--violet);
    border: none;
    opacity: 0.4;
    height: 0.1rem;
    width: $width;
    flex-grow: $grow;
}

.main {
    display: flex;
    justify-content: space-between;
}

.contentWelcome {
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: 100vh;
    margin: 0 4.56rem;
    padding: 3.75rem 0;
    width: 51.75rem; //1 rem = 16 50x16 = 800

    .title {
        margin: 0 0 4.38rem 0;

        .kaloomTitle {
            margin-top: 0.3rem;
            @include title(var(--purple));
        }
    }

    .subtitle {
        margin-top: 0.62rem;
        line-height: 120%;
        @include dualFont(var(--purple));
    }

    .paragrafo {
        font-family: "Roboto", sans-serif;
        font-size: 1.5rem;
        margin-top: 1rem;
        line-height: 160%;
    }
}

.containerLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 0.63rem 4.38rem 1.25rem;
    background-color: var(--purple);
    width: 37.63rem;

    .contentLogin {
        display: flex;
        flex-direction: column;
        width: 416px;

        .InputContainer{
            position: relative;
            width: 100%;

            .input{
                color: var(--white);
                width: 100%;
                font-size: 1rem;
                padding: 10px 10px 10px 5px;	
                display: block;
                outline: none;
                border: none;
                border-bottom: 1px solid var(--white);
                background: transparent;
                transition: top, font-size, color, border-bottom-color 0.2s;
            }
    
            .label{
                font-family: 'Sen', sans-serif;
                font-size: 1.25rem;
                color: var(--white);
                opacity: 50%;
                position: absolute;
                left: 5px;
                top: 10px;
                transition: all 0.2s;
            }
    
            .input:focus~.label{
                top: -20px;
                font-size: 14px;
                color: #7700ff;
                opacity: 100%;
                
                // .label{
                //     top: -20px;
                //     font-size: 14px;
                //     color: #7700ff;
                // }
            }
    
            .input:focus{
                border-bottom-color: #7700ff;
                // box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.5);

            }
        }


        .form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2rem;

            .h3 {
                font-family: "Sen", sans-serif;
                font-size: 2rem;
                font-weight: 400;
                color: var(--white);
                text-transform: uppercase;
            }
            
            .forgot{
                @include links(var(--white), 100, underline);
            }
        }
    }

    .divider {
        @include divider(100%, 0)
    }

    .linkCadastro {
        color: var(--white);
        font-family: 'Sen', sans-serif;
        font-size: 1.3rem;

        .linkao {
            @include links(var(--white), 700, none);
        }
    }
}

@mixin button($width, $bg, $padding, $gap){
    display: flex;
    flex-direction: row;
    gap: $gap;
    width: $width; //26rem
    // height: 4.38rem;
    background-color: $bg;
    border: 0 solid;
    border-radius: 0.63rem;
    padding: $padding; //1.3rem
    justify-content: center;
    cursor: pointer;
}

@mixin textButton($color, $family, $size){
    color: $color;
    font-family: $family, sans-serif;
    font-size: $size;
}

.signInButton{
    @include button(26rem, var(--white), 1.3rem, 0px);
    transition: all 0.4s;

    .textEntrar{
        @include textButton(var(--purple), 'Sen', 1.5rem);
    }

    &:hover{
        box-shadow: 0 0 20px #ffffff59;
    }
}

.authButton{
    @include button(11.875rem, var(--white), 0.75rem, 0.625rem);

    .textRede{
        @include textButton(var(--gray-300), 'Sen', 1.25rem);
    }
}

.dividerAuth{
    @include divider(auto, 1)
}